
body{
	color: #848282 !important;
}


img{
  width: 75%;

}

.name {

  font-size: x-large;
}

.female {

  font-size: x-large;
  padding-right: 25px;

}

.male {

  font-size: x-large;
  padding-right: 40px;
}

.tg{
	color: #848282;
}
.percircle>span {
  color: #b71616 !important;
}

