
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@media screen and (min-width: 1400px) {
  .container-fluid {
    width: 75% !important;
  }
}


body {
  color: black !important;
  font-family: 'Roboto Mono', monospace !important;
  
}


h1{
  padding-bottom: 20px;
  padding-top: 5px;
}

.text-center {

  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  text-transform: uppercase
}


.w3-table, th, td {

  font-family: 'Roboto Mono', monospace;


}

.header{

  background-color: rgb(255, 210, 0);
  color: black;
}

img{
  width: 75%;

}

.name {

  font-size: x-large;
  font-weight: 700;
}

.female {

  font-size: x-large;
  padding-right: 25px;
  font-weight: 700;

}

.male {

  font-size: x-large;
  padding-right: 40px;
  font-weight: 700;
}

.tg{
	color: black;
}
.percircle>span {
  color: #b71616 !important;
}

#patton, #ou{

  margin-bottom: 50px;
  margin-top: 25px;
  margin-right: 35px;
  margin-left: 55px;
}

#pcoe {
    position: absolute;
    bottom: 50%;
    left: 25%;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;

}

#ou_circle {
    position: absolute;
    bottom: 5%;
    left: 25%;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 25px;
}

.mybutton {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: white;
  cursor: pointer;
}

#faculty {
  font-family: 'Roboto Mono', monospace;
    background-image: url(professor.svg);
    background-color: transparent; 
    background-repeat: no-repeat; 
    background-position: 0px 0px;  
    vertical-align: middle;
    margin: 0 20px 20px 20px;
    background-size: 30px;
}
  
  #both {
    font-family: 'Roboto Mono', monospace;
      background-image: url(all.svg);
      background-color: transparent; 
      background-repeat: no-repeat; 
      background-position: 0px 0px;  
      vertical-align: middle;
      margin: 0 20px 20px 20px;
      background-size: 30px;
      
    }

    #staff {
      font-family: 'Roboto Mono', monospace;
        background-image: url(staff.svg);
        background-color: transparent; 
        background-repeat: no-repeat; 
        background-position: 0px 0px;  
        vertical-align: middle;
        margin: 0 20px 20px 20px;
        background-size: 30px;
      }


      #buttonnav{
        padding-bottom: 20px;
      }

    
      .active, .mybutton:hover {
          border-bottom: 1px solid black !important;
      }
    