
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@media screen and (min-width: 1400px) {
  .container-fluid {
    width: 75% !important;
  }
}


body {
  color: black !important;
  font-family: 'Roboto Mono', monospace;
  
}


h1{
  padding-bottom: 20px;
  padding-top: 20px;
}

.text-center {

  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  text-transform: uppercase
}


.w3-table, th, td {

  font-family: 'Roboto Mono', monospace;


}

.header{

  background-color: rgb(255, 210, 0);
  color: black;
}

img{
  width: 75%;

}

.name {

  font-size: x-large;
  font-weight: 700;
}

.female {

  font-size: x-large;
  padding-right: 25px;
  font-weight: 700;

}

.male {

  font-size: x-large;
  padding-right: 40px;
  font-weight: 700;
}

.tg{
	color: black;
}
.percircle>span {
  color: #b71616 !important;
}

#patton, #ou{

	margin-bottom: 50px;
	margin-top: 25px;

}

#pcoe {
    position: absolute;
    bottom: 50%;
    left: 25%;
}

#ou_circle {
    position: absolute;
    bottom: 5%;
    left: 25%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 25px;
}